.wrap-thongtincanhan{
    border: 1px solid;
    height: 650px !important;
    margin-top: 10px;
    border-radius: 20px;
    h2{
        padding: 15px;
        text-align: center;
    }
    th{
        text-align: start !important
    }
    th,td{
        font-size: 15px;
    }
    table{
        margin: 20px 0 20px 28px !important;
        width: 80rem;

    }
}