.header-login{
    height: 80px;
    background-image: linear-gradient(to bottom, blue, var(--primary));
    padding: 20px;
}

.header-logo{
    color: #fff !important;
}

.header-text{
    margin-left: 20px;
    line-height: 1.6 !important;
}