.wrap-bangdieukhien{
    border: 1px solid;
    min-height: 650px;
    margin-top: 10px;
    border-radius: 20px;
}

.content-bangdieukhien{
    padding: 10px;
}

.sider-bangdieukhien{
    border: 1px solid;
    height: 320px;
    border-radius: 20px;
    margin-right: 10px;
    h2, a{
        padding: 15px;
        text-align: center;
    }
    th{
        text-align: start !important
    }
    th,td{
        font-size: 15px;
    }
}



.body-bangdieukhien-pdt {
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    height: auto;
    .items-bangdieukhien{
        margin-top: 10px !important;
        height: 162px !important;
        width: 8rem !important;
        margin: auto;
        text-align: center;
    }
    .items-bangdieukhien:hover{
        border: 5px solid blue;
    }
}